/* Customize your main colors in :root variables */

@import '~antd/dist/antd.dark.css';

:root {
  --main-background-color: #ADDDE1;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color:  #B34B81;
  --title-text-color: #B34B81;
}

body {
  background: linear-gradient(#ADDDE1, rgba(139, 222, 255, 0.562)),
  url('src/assets/img/bg1.png');
  background-size: cover; 

  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ADDDE1;
  color: #B34B81;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins', monospace;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: Bold;
  font-size: 24px;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}
